
<h1>Welcome to the Admin Panel</h1>
<div style="display: flex; flex-direction:row;justify-content: space-around; align-items: center; margin-top: 50px;">
<mat-card routerLink="/admin/categories" style="background-color: #da8d2c;">
Categories
</mat-card>
<mat-card routerLink="/admin/add-quiz" style="background-color: #f17559;">
Add-Quiz
</mat-card>
<mat-card routerLink="/admin/quizzes" style="background-color: #9ba745;">
Quizzes
</mat-card>
<mat-card routerLink="/admin/add-category" style="background-color: #406e7c;">
Add Categories
</mat-card>
</div>