
<div class="container">
  <div class="firstdiv">
<h1 class="heading">
  Welcome To
  <div class="prohead">
  Quizzard</div>
</h1>
<h3 class="para">Its time for you to take quiz</h3>
<div class="line"></div>
<p class="somelines">Hey there mate, heard you been trying to clear some Job interviews, come in and check if you are up to the mark by taking these easy tests, if you fail these one's mate you gotta study more.</p>
<a [routerLink]="'/signup'" type="submit" mat-raised-button color="primary">
  Register
</a>
  </div>
  <div class="seconddiv">
<img src="https://thumbs.dreamstime.com/b/quiz-time-card-colorful-confetti-quiz-time-card-colorful-paper-confetti-vector-background-125413603.jpg">
  </div>
</div>

